
@import "../partials/variables";
@import "../partials/reset";


body {
    position: relative;
    width: $ancho;
    height: 100vh;


}

.navbar {
    position: sticky;

    .navbar-collapse {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: rgba(230, 227, 227, 0.059);
        color: black;
        padding: 9px;
        height: 50px;
        height: $alto;
        gap: 10px;

        .logo_luma {
            width: 50px;
        }

        .nav-item {
            .elem-item:hover {
                background-color: gray;

            }
        }
    }
}



.banner-pic {
    width: 100%;
    height: $alt-px*6;
    object-fit: cover;
    object-position: top;
    padding: 10px;
}

.text_ind {
    display: flex;
    justify-content: center;
}

.main_index {
    width: $ancho;
    display: flex;
    padding: 10px;

    .card-group {
        gap: 20px;

        .card-body {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}

footer {
    margin-top: 100px;
}

.iconos_foot {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 20px;
    .bi {
        font-size: 30px;
    }
}
.nav_footer {
    width: $ancho;
    

    .iconos_foot {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .nav-foot {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 10px;
        justify-content: center;
        flex-direction: row;
        a {
            text-decoration: none;
            list-style: none;
            color: black;
            
        }
    }
}

.main_nosotros {
    width: $ancho;

    .text_princnos {
        margin-top: 100px;
        margin-bottom: 60px;
    }

}


.secccion_remeras,
.seccion_buzos,
.seccion_jean {
    padding: 20px;

    .card-body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .card-footer {
        .boton_prod {
            display: flex;
            justify-content: center;

            .btn:hover {
                transform: scale(1.2, 1.2);
            }
        }
    }
}

.card-complete {
    
    transition: 0.6s ease all;
    &:hover {
        transform: scale(1.05, 1.05);

    }


}
.active-item {
    background-color: gray !important;
    padding: 5px;
    
}
.card-vendedores {
    margin-top: 77px;

    .card-body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.main_cambios {
    margin-top: 30px;

    width: 100%;

    .tit_camb {
        display: flex;
        justify-content: center;
        margin-top: 70px;
    }
}

section {
    .text_princnos {
        margin-top: 100px;
        margin-bottom: 60px;
    }
}

div {
    iframe {
        width: 500px;
        height: 400px;
        margin-top: 50px;
    }
}

.lista_contact {
    list-style-type: none;
    padding: 10px;

    i {
        margin-right: 15px;
    }
}

.contact {
    margin-top: 100px
}




@import "../partials/queries";

