@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,200&display=swap'); 

/* RESET */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* FUENTE ELEGIDA */
body {
    font-family: 'Roboto Mono', monospace !important;
    
}

a {
    text-decoration: none;
    color: inherit;
}


.navbar-collapse a {
    color: black;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(230, 227, 227, 0.059);
    color: black;
    padding: 9px;
    height: 50px;
    height: 100%;
}

.navbar {
    position: sticky;
}

.main_index {
    width: 100%;
    height: 400px;
    display: flex;
    padding: 10px;

}

.logo_luma {
    width: 50px;
}



.text_ind {
    display: flex;
    justify-content: center;

}

.card-group {
    gap: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin-top: 200px;
}

.iconos_foot {
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: rgb(17, 15, 15);

}

.nav-foot {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

.lista_nav {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    list-style-type: none;
}

.msj_arriba {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}



.primer_tit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);

}



.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}


.img_banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
    padding: 10px;
}


.icons_princ {
    width: 100%;
    height: 300px;
    background-color: blue;


}

.bi-box-seam,
.bi-wallet,
.bi-truck {
    font-size: 100px;
    align-items: center;
}

.banner-pic {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
    padding: 10px;
}

.nav-bar {
    display: flex;
}

.nav a {
    color: black;
}

/*.navegacion_completa {
    justify-content: end;
    align-items: center;
}*/

.secccion_remeras,
.seccion_buzos,
.seccion_jean {
    padding: 20px;
}

.boton_prod {
    display: flex;
    justify-content: center;

}

.linea1 {
    margin: 20px auto;
    width: 50%;
}

.main-nosotros {
    padding: 20px;
}

.main-nosotros section,
.main_cambios {
    margin-top: 30px;
    /*border: 1px solid black;*/
    width: 100%;

}

.text_princnos {
    margin-top: 100px;
    margin-bottom: 60px;
}

.card-vendedores {
    margin-top: 77px;
}

.tit_camb,
.text_camb {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.text_camb {
    align-items: center;
}

iframe {
    width: 500px;
    height: 400px;

}

.lista_contact {
    list-style-type: none;
    padding: 10px;
}

.lista_contact i {
    margin-right: 15px;
}

/* Media Queries */

@media (max-width: 767px) {

    .navbar-brand
    {
    display: none;
}
}